{% extends 'layouts/dashboard.html' %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}
    {% if current_user.account_type == 1 %}
        <!-- Nav Item - Account Records -->
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>HR Records</span>
            </a>
        </li>

        <!-- Nav Item - Callout Form -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.add_applicant_page') }}">
                <i class="fas fa-fw fa-phone-alt"></i>
                <span>Callout Form</span>
            </a>
        </li>

        <!-- Nav Item - Candidate List -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.candidates_page') }}">
                <i class="fas fa-fw fa-th-list"></i>
                <span>Candidate List</span>
            </a>
        </li>
    {% elif current_user.account_type == 2 %}
        <!-- Nav Item - Call History -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('hr.call_history') }}">
                <i class="fas fa-fw fa-history"></i>
                <span>Call History</span>
            </a>
        </li>

        <!-- Nav Item - Callout Form -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('hr.add_applicant_page') }}">
                <i class="fas fa-fw fa-phone-alt"></i>
                <span>Callout Form</span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block page_content %}

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Callout Form</h1>

    <div class="row">
        <div class="col-md-12">
            {% if current_user.account_type == 1 %}
                {% set endpoint = 'admin.add_applicant' %}
            {% elif current_user.account_type == 2 %}
                {% set endpoint = 'hr.add_applicant' %}
            {% endif %}
            <form method="POST" action="{{ url_for(endpoint) }}">
                {{ form.hidden_tag() }}
                {{ form.personal.hidden_tag() }}
                {{ form.education.hidden_tag() }}
                {{ form.preference.hidden_tag() }}
                {{ form.call.hidden_tag() }}
                {{ form.additional.hidden_tag() }}
                <div class="row">
                    <div class="col-md-6">

                        <!-- Personal Information -->
                        <div class="card card-body mb-2">
                            <fieldset class="form-group">
                                <legend>
                                    Personal Information
                                </legend>

                                <!-- Last Name -->
                                <div class="form-group mb-2">
                                    {% if form.personal.last_name.flags.required %}
                                        {{ form.personal.last_name.label(class="form-control-label", text=form.personal.last_name.label.text + '*') }}
                                    {% else %}
                                        {{ form.personal.last_name.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.personal.last_name.errors %}
                                        {{ form.personal.last_name(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.personal.last_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.personal.last_name(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- First Name -->
                                <div class="form-group mb-2">
                                    {% if form.personal.first_name.flags.required %}
                                        {{ form.personal.first_name.label(class="form-control-label", text=form.personal.first_name.label.text + '*') }}
                                    {% else %}
                                        {{ form.personal.first_name.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.personal.first_name.errors %}
                                        {{ form.personal.first_name(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.personal.first_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.personal.first_name(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Middle Name -->
                                <div class="form-group mb-2">
                                    {% if form.personal.middle_name.flags.required %}
                                        {{ form.personal.middle_name.label(class="form-control-label", text=form.personal.middle_name.label.text + '*') }}
                                    {% else %}
                                        {{ form.personal.middle_name.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.personal.middle_name.errors %}
                                        {{ form.personal.middle_name(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.personal.middle_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.personal.middle_name(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Birthdate -->
                                <div class="form-group mb-2">
                                    {% if form.personal.birthdate.flags.required %}
                                        {{ form.personal.birthdate.label(class="form-control-label", text=form.personal.birthdate.label.text + '*') }}
                                    {% else %}
                                        {{ form.personal.birthdate.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.personal.birthdate.errors %}
                                        {{ form.personal.birthdate(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.personal.birthdate.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.personal.birthdate(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Email -->
                                <div class="form-group mb-2">
                                    {% if form.personal.email.flags.required %}
                                        {{ form.personal.email.label(class="form-control-label", text=form.personal.email.label.text + '*') }}
                                    {% else %}
                                        {{ form.personal.email.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.personal.email.errors %}
                                        {{ form.personal.email(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.personal.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.personal.email(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Mobile 1 -->
                                <div class="form-group mb-2">
                                    {% if form.personal.mobile1.flags.required %}
                                        {{ form.personal.mobile1.label(class="form-control-label", text=form.personal.mobile1.label.text + '*') }}
                                    {% else %}
                                        {{ form.personal.mobile1.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.personal.mobile1.errors %}
                                        {{ form.personal.mobile1(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.personal.mobile1.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.personal.mobile1(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Mobile 2 -->
                                <div class="form-group mb-2">
                                    {% if form.personal.mobile2.flags.required %}
                                        {{ form.personal.mobile2.label(class="form-control-label", text=form.personal.mobile2.label.text + '*') }}
                                    {% else %}
                                        {{ form.personal.mobile2.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.personal.mobile2.errors %}
                                        {{ form.personal.mobile2(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.personal.mobile2.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.personal.mobile2(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Landline -->
                                <div class="form-group mb-2">
                                    {% if form.personal.landline.flags.required %}
                                        {{ form.personal.landline.label(class="form-control-label", text=form.personal.landline.label.text + '*') }}
                                    {% else %}
                                        {{ form.personal.landline.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.personal.landline.errors %}
                                        {{ form.personal.landline(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.personal.landline.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.personal.landline(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Address -->
                                <div class="form-group mb-2">
                                    {% if form.personal.address.flags.required %}
                                        {{ form.personal.address.label(class="form-control-label", text=form.personal.address.label.text + '*') }}
                                    {% else %}
                                        {{ form.personal.address.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.personal.address.errors %}
                                        {{ form.personal.address(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.personal.address.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.personal.address(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Marital Status -->
                                <div class="form-group mb-2">
                                    {% if form.personal.marital_status.flags.required %}
                                        {{ form.personal.marital_status.label(class="form-control-label", text=form.personal.marital_status.label.text + '*') }}
                                    {% else %}
                                        {{ form.personal.marital_status.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.personal.marital_status.errors %}
                                        {{ form.personal.marital_status(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.personal.marital_status.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.personal.marital_status(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>
                        <!-- End of Personal Information -->

                        <!-- Scholastic Information -->
                        <div class="card card-body mb-2">
                            <fieldset class="form-group">
                                <legend>
                                    Scholastic Information
                                </legend>

                                <!-- Educational Attainment -->
                                <div class="form-group mb-2">
                                    {% if form.education.attainment.flags.required %}
                                        {{ form.education.attainment.label(class="form-control-label", text=form.education.attainment.label.text + '*') }}
                                    {% else %}
                                        {{ form.education.attainment.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.education.attainment.errors %}
                                        {{ form.education.attainment(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.education.attainment.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.education.attainment(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Course -->
                                <div class="form-group mb-2">
                                    {% if form.education.course.flags.required %}
                                        {{ form.education.course.label(class="form-control-label", text=form.education.course.label.text + '*') }}
                                    {% else %}
                                        {{ form.education.course.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.education.course.errors %}
                                        {{ form.education.course(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.education.course.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.education.course(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Graduation Year -->
                                <div class="form-group mb-2">
                                    {% if form.education.graduation_year.flags.required %}
                                        {{ form.education.graduation_year.label(class="form-control-label", text=form.education.graduation_year.label.text + '*') }}
                                    {% else %}
                                        {{ form.education.graduation_year.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.education.graduation_year.errors %}
                                        {{ form.education.graduation_year(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.education.graduation_year.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.education.graduation_year(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>
                        <!-- End of Scholastic Information -->

                    </div>

                    <div class="col-md-6">

                        <!-- Job Preference -->
                        <div class="card card-body mb-2">
                            <fieldset class="form-group">
                                <legend>
                                    Job Preference
                                </legend>

                                <!-- Applied Position -->
                                <div class="form-group mb-2">
                                    {% if form.preference.applied_position.flags.required %}
                                        {{ form.preference.applied_position.label(class="form-control-label", text=form.preference.applied_position.label.text + '*') }}
                                    {% else %}
                                        {{ form.preference.applied_position.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.preference.applied_position.errors %}
                                        {{ form.preference.applied_position(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.preference.applied_position.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.preference.applied_position(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Expected Salary -->
                                <div class="form-group mb-2">
                                    {% if form.preference.expected_salary.flags.required %}
                                        {{ form.preference.expected_salary.label(class="form-control-label", text=form.preference.expected_salary.label.text + '*') }}
                                    {% else %}
                                        {{ form.preference.expected_salary.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.preference.expected_salary.errors %}
                                        {{ form.preference.expected_salary(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.preference.expected_salary.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.preference.expected_salary(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Shift -->
                                <div class="form-group mb-2">
                                    {% if form.preference.shift.flags.required %}
                                        {{ form.preference.shift.label(class="form-control-label", text=form.preference.shift.label.text + '*') }}
                                    {% else %}
                                        {{ form.preference.shift.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.preference.shift.errors %}
                                        {{ form.preference.shift(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.preference.shift.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.preference.shift(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Location -->
                                <div class="form-group mb-2">
                                    {% if form.preference.location.flags.required %}
                                        {{ form.preference.location.label(class="form-control-label", text=form.preference.location.label.text + '*') }}
                                    {% else %}
                                        {{ form.preference.location.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.preference.location.errors %}
                                        {{ form.preference.location(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.preference.location.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.preference.location(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>
                        <!-- End of Job Preference -->

                        <!-- Call Information -->
                        <div class="card card-body mb-2">
                            <fieldset class="form-group">
                                <legend>
                                    Call Information
                                </legend>

                                <!-- Disposition -->
                                <div class="form-group mb-2">
                                    {% if form.call.disposition.flags.required %}
                                        {{ form.call.disposition.label(class="form-control-label", text=form.call.disposition.label.text + '*') }}
                                    {% else %}
                                        {{ form.call.disposition.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.call.disposition.errors %}
                                        {{ form.call.disposition(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.call.disposition.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.call.disposition(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Remarks -->
                                <div class="form-group mb-2">
                                    {% if form.call.remarks.flags.required %}
                                        {{ form.call.remarks.label(class="form-control-label", text=form.call.remarks.label.text + '*') }}
                                    {% else %}
                                        {{ form.call.remarks.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.call.remarks.errors %}
                                        {{ form.call.remarks(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.call.remarks.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.call.remarks(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                {% if current_user.account_type == 1 %}
                                    <!-- HR -->
                                    <div class="form-group mb-2">
                                        {% if form.call.hr.flags.required %}
                                            {{ form.call.hr.label(class="form-control-label", text=form.call.hr.label.text + '*') }}
                                        {% else %}
                                            {{ form.call.hr.label(class="form-control-label") }}
                                        {% endif %}

                                        {% if form.call.hr.errors %}
                                            {{ form.call.hr(class="form-control form-control-sm is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.call.hr.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.call.hr(class="form-control form-control-sm")}}
                                        {% endif %}
                                    </div>
                                {% endif %}

                            </fieldset>
                        </div>
                        <!-- End of Call Information -->

                        <!-- Additional Information -->
                        <div class="card card-body mb-2">
                            <fieldset class="form-group">
                                <legend>
                                    Additional Information
                                </legend>

                                <!-- Source -->
                                <div class="form-group mb-2">
                                    {% if form.additional.source.flags.required %}
                                        {{ form.additional.source.label(class="form-control-label", text=form.additional.source.label.text + '*') }}
                                    {% else %}
                                        {{ form.additional.source.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.additional.source.errors %}
                                        {{ form.additional.source(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.additional.source.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.additional.source(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Interview Date -->
                                <div class="form-group mb-2">
                                    {% if form.additional.interview_date.flags.required %}
                                        {{ form.additional.interview_date.label(class="form-control-label", text=form.additional.interview_date.label.text + '*') }}
                                    {% else %}
                                        {{ form.additional.interview_date.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.additional.interview_date.errors %}
                                        {{ form.additional.interview_date(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.additional.interview_date.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.additional.interview_date(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>

                                <!-- Interview Time -->
                                <div class="form-group mb-2">
                                    {% if form.additional.interview_time.flags.required %}
                                        {{ form.additional.interview_time.label(class="form-control-label", text=form.additional.interview_time.label.text + '*') }}
                                    {% else %}
                                        {{ form.additional.interview_time.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.additional.interview_time.errors %}
                                        {{ form.additional.interview_time(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.additional.interview_time.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.additional.interview_time(class="form-control form-control-sm")}}
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>
                        <!-- End of Additional Information -->

                    </div>
                </div>

                <div class="btn-group btn-group-lg" role="group" style="position: fixed; bottom: .5in; right: .5in;">
                    <button data-placement="top" data-toggle="tooltip" title="Submit"
                        class="btn btn-primary tooltips">
                        <i class="fas fa-fw fa-edit"></i>
                    </button>
                    <a href="{{ url_for('hr.home_page') }}" data-placement="top" data-toggle="tooltip" title="Cancel"
                        class="btn btn-danger tooltips">
                        <i class="fas fa-times-circle"></i>
                    </a>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
