{% extends 'layouts/dashboard.html' %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}
    {% if current_user.account_type == 2 %}
        <!-- Nav Item - Call History -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('hr.call_history') }}">
                <i class="fas fa-fw fa-history"></i>
                <span>Call History</span>
            </a>
        </li>

        <!-- Nav Item - Callout Form -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('hr.add_applicant_page') }}">
                <i class="fas fa-fw fa-phone-alt"></i>
                <span>Callout Form</span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block page_content %}
    
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Callout Candidates</h1>

    <div class="table-responsive">
        <table class="table table-sm small table-bordered" id="call-history-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Candidate Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Remarks</th>
                    <th>Call Date</th>
                    <th>Interview Date & Time</th>
                </tr>                
            </thead>
            <tbody>
                {% for call in calls %}
                    <tr>
                        <td>{{ call.applicant.first_name }} {{ call.applicant.last_name }}</td>
                        <td>{{ call.applicant.mobile1 }}</td>
                        <td>{{ call.applicant.email }}</td>
                        <td>{{ call.applicant.status|title }}</td>
                        <td>{{ call.applicant.remarks }}</td>
                        <td>
                            <time class="from-now" data-datetime="{{ call.datetime }}">
                                {{ call.datetime }}
                            </time>
                        </td>
                        <td>
                            {{ call.applicant.interview_datetime|table_date }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // Date Formatting with momentjs
            $('.from-now').each(function(i, e) {
                ( function updateTime() {
                    var time = moment($(e).data('datetime'));
                    $(e).text(time.fromNow());
                    $(e).attr('title', time.format('MMMM Do YYYY, h:mm:ss a Z'));
                    setTimeout(updateTime, 1000);
                })();
            });
        });
    </script>
{% endblock %}
