{% extends 'layouts/dashboard.html' %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}
    <!-- Nav Item - Account Records -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.records_page') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>HR Records</span>
        </a>
    </li>

    <!-- Nav Item - Callout Form -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.add_applicant_page') }}">
            <i class="fas fa-fw fa-phone-alt"></i>
            <span>Callout Form</span>
        </a>
    </li>

    <!-- Nav Item - Candidate List -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.candidates_page') }}">
            <i class="fas fa-fw fa-th-list"></i>
            <span>Candidate List</span>
        </a>
    </li>
{% endblock %}

{% block page_content %}

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>

    <!-- Content Row -->
    <div class="row">

        <!-- Applicants Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Applicants</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stats.total_applicants() }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-tie fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Processed Applications Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Processed Applications</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stats.total_processed_applicants() }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Applications Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Applications</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stats.total_pending_applicants() }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-hourglass fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HR-Applicant Ratio Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">HR-Applicant Ratio</div>
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ stats.hr_applicant_ratio() }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-percent fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Content Row -->

    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Applicant Per Month</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="chart-monthly-applicants"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Candidate Status</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="chart-candidate-status"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Pending
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-phone-invite"></i> Phone Invite
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-no-reach"></i> Can't be reached
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-warning"></i> Declined
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-interview"></i> For interview
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Passed
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-danger"></i> Failed
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Hired
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Content Row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">

            <!-- Bar Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Applications Processed by HR</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="chart-hr-process"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End of Content Row -->

{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        window.onload = function()
        {
            var canvasId = "chart-candidate-status";
            var labels = {{ stats.candidate_status.label_list()|safe }};
            var values = {{ stats.candidate_status.value_list()|safe }};
            var colors = {{ stats.candidate_status.color_list()|safe }};
            var darkColors = {{ stats.candidate_status.dark_color_list()|safe }};
            setChartCandidateStatus(canvasId, labels, values, colors, darkColors);

            canvasId = "chart-hr-process";
            var hrList = {{ stats.hr_process.keys()|safe }};
            var applicantCountList = {{ stats.hr_process.values()|safe }};
            setChartHRProcess(canvasId, hrList, applicantCountList);

            canvasId = "chart-monthly-applicants";
            values = {{ stats.monthly_applicants.value_list()|safe }};
            setChartMonthlyApplicants(canvasId, values);
        };
    </script>
{% endblock %}
