{% extends 'layouts/dashboard.html' %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}
    <!-- Nav Item - Call History -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('hr.call_history') }}">
            <i class="fas fa-fw fa-history"></i>
            <span>Call History</span>
        </a>
    </li>

    <!-- Nav Item - Callout Form -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('hr.add_applicant_page') }}">
            <i class="fas fa-fw fa-phone-alt"></i>
            <span>Callout Form</span>
        </a>
    </li>
{% endblock %}

{% block page_content %}
    
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Callout Candidates</h1>

    <div class="table-responsive">
        <table class="table table-sm small table-bordered" id="candidate-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Action</th>         
                    <th>Date Acquired</th>
                    <th>Candidate Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Preferred Position</th>
                    <th>Preferred Location</th>
                    <th>Source</th>
                    <th>Current Disposition</th>
                </tr>                
            </thead>
            <tbody>
                {% for applicant in applicants %}
                    <tr>
                        <td>
                            <div class="btn-group btn-group-sm" role="group">
                                <a href="{{ url_for('hr.call_applicant_page', applicant_id=applicant.id) }}" data-placement="top" data-toggle="tooltip" title="Call"
                                class="btn btn-success tooltips">
                                    <i class="fas fa-fw fa-phone-alt"></i>
                                </a>
                                <a href="{{ url_for('hr.edit_applicant_page', applicant_id=applicant.id) }}" data-placement="top" data-toggle="tooltip" title="Edit"
                                class="btn btn-primary tooltips">
                                    <i class="fas fa-fw fa-edit"></i>
                                </a>
                                <a href="{{ url_for('hr.view_applicant_page', applicant_id=applicant.id) }}" data-placement="top" data-toggle="tooltip" title="View"
                                class="btn btn-info tooltips">
                                    <i class="fab fa-readme"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <time class="from-now"
                                data-datetime="{{ applicant.acquire_date }}">
                                {{ applicant.acquire_date }}
                            </time>
                        </td>
                        <td>{{ applicant.first_name }} {{ applicant.last_name }}</td>
                        <td>{{ applicant.mobile1 }}</td>
                        <td>{{ applicant.email }}</td>
                        <td>{{ applicant.applied_position }}</td>
                        <td>{{ applicant.preferred_location }}</td>
                        <td>{{ applicant.source }}</td>
                        <td>{{ applicant.status|title }}</td>
                    </tr>                    
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // Date Formatting with momentjs
            $('.from-now').each(function(i, e) {
                ( function updateTime() {
                    var time = moment($(e).data('datetime'));
                    $(e).text(time.fromNow());
                    $(e).attr('title', time.format('MMMM Do YYYY, h:mm:ss a Z'));
                    setTimeout(updateTime, 1000);
                })();
            });
        });
    </script>
{% endblock %}
