{% extends 'layouts/dashboard.html' %}

{% block title %}Edit Applicant{% endblock %}

{% block page_content %}

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Candidate Contact Information</h1>

    <div class="row">
        <div class="col-md-12">
            {% if current_user.role == 'admin' %}
                {% set endpoint = 'admin.edit_applicant' %}
            {% elif current_user.role == 'hr' %}
                {% set endpoint = 'hr.edit_applicant' %}
            {% endif %}
            <form method="POST" action="{{ url_for(endpoint, applicant_id=applicant.id) }}">

                {{ form.hidden_tag() }}

                <div class="row">
                    <div class="col-md-6">

                        <!-- Personal Information -->
                        <div class="card card-body mb-2">
                            <fieldset class="form-group">
                                <legend>
                                    Personal Information
                                </legend>

                                <!-- Last Name -->
                                <div class="form-group mb-2">
                                    {% if form.last_name.flags.required %}
                                        {{ form.last_name.label(class="form-control-label", text=form.last_name.label.text + '*') }}
                                    {% else %}
                                        {{ form.last_name.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.last_name.errors %}
                                        {{ form.last_name(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.last_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.last_name(class="form-control form-control-sm", value=applicant.last_name) }}
                                    {% endif %}
                                </div>

                                <!-- First Name -->
                                <div class="form-group mb-2">
                                    {% if form.first_name.flags.required %}
                                        {{ form.first_name.label(class="form-control-label", text=form.first_name.label.text + '*') }}
                                    {% else %}
                                        {{ form.first_name.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.first_name.errors %}
                                        {{ form.first_name(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.first_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.first_name(class="form-control form-control-sm", value=applicant.first_name) }}
                                    {% endif %}
                                </div>

                                <!-- Middle Name -->
                                <div class="form-group mb-2">
                                    {% if form.middle_name.flags.required %}
                                        {{ form.middle_name.label(class="form-control-label", text=form.middle_name.label.text + '*') }}
                                    {% else %}
                                        {{ form.middle_name.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.middle_name.errors %}
                                        {{ form.middle_name(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.middle_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.middle_name(class="form-control form-control-sm", value=applicant.middle_name) }}
                                    {% endif %}
                                </div>

                                <!-- Birthdate -->
                                <div class="form-group mb-2">
                                    {% if form.birthdate.flags.required %}
                                        {{ form.birthdate.label(class="form-control-label", text=form.birthdate.label.text + '*') }}
                                    {% else %}
                                        {{ form.birthdate.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.birthdate.errors %}
                                        {{ form.birthdate(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.birthdate.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}

                                        {{ form.birthdate(class="form-control form-control-sm", value=applicant.birthdate|form_date) }}
                                    {% endif %}
                                </div>

                                <!-- Email -->
                                <div class="form-group mb-2">
                                    {% if form.email.flags.required %}
                                        {{ form.email.label(class="form-control-label", text=form.email.label.text + '*') }}
                                    {% else %}
                                        {{ form.email.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-sm", value=applicant.email) }}
                                    {% endif %}
                                </div>

                                <!-- Mobile 1 -->
                                <div class="form-group mb-2">
                                    {% if form.mobile1.flags.required %}
                                        {{ form.mobile1.label(class="form-control-label", text=form.mobile1.label.text + '*') }}
                                    {% else %}
                                        {{ form.mobile1.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.mobile1.errors %}
                                        {{ form.mobile1(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.mobile1.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.mobile1(class="form-control form-control-sm", value=applicant.mobile1) }}
                                    {% endif %}
                                </div>

                                <!-- Mobile 2 -->
                                <div class="form-group mb-2">
                                    {% if form.mobile2.flags.required %}
                                        {{ form.mobile2.label(class="form-control-label", text=form.mobile2.label.text + '*') }}
                                    {% else %}
                                        {{ form.mobile2.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.mobile2.errors %}
                                        {{ form.mobile2(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.mobile2.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.mobile2(class="form-control form-control-sm", value=applicant.mobile2) }}
                                    {% endif %}
                                </div>

                                <!-- Landline -->
                                <div class="form-group mb-2">
                                    {% if form.landline.flags.required %}
                                        {{ form.landline.label(class="form-control-label", text=form.landline.label.text + '*') }}
                                    {% else %}
                                        {{ form.landline.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.landline.errors %}
                                        {{ form.landline(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.landline.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.landline(class="form-control form-control-sm", value=applicant.landline) }}
                                    {% endif %}
                                </div>

                                <!-- Address -->
                                <div class="form-group mb-2">
                                    {% if form.address.flags.required %}
                                        {{ form.address.label(class="form-control-label", text=form.address.label.text + '*') }}
                                    {% else %}
                                        {{ form.address.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.address.errors %}
                                        {{ form.address(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.address.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.address(class="form-control form-control-sm") }}
                                    {% endif %}
                                </div>

                                <!-- Marital Status -->
                                <div class="form-group mb-2">
                                    {% if form.marital_status.flags.required %}
                                        {{ form.marital_status.label(class="form-control-label", text=form.marital_status.label.text + '*') }}
                                    {% else %}
                                        {{ form.marital_status.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.marital_status.errors %}
                                        {{ form.marital_status(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.marital_status.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.marital_status(class="form-control form-control-sm", value=applicant.marital_status) }}
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>
                        <!-- End of Personal Information -->

                        <!-- Scholastic Information -->
                        <div class="card card-body mb-2">
                            <fieldset class="form-group">
                                <legend>
                                    Scholastic Information
                                </legend>

                                <!-- Educational Attainment -->
                                <div class="form-group mb-2">
                                    {% if form.educational_attainment.flags.required %}
                                        {{ form.educational_attainment.label(class="form-control-label", text=form.educational_attainment.label.text + '*') }}
                                    {% else %}
                                        {{ form.educational_attainment.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.educational_attainment.errors %}
                                        {{ form.educational_attainment(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.educational_attainment.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.educational_attainment(class="form-control form-control-sm", value=applicant.educational_attainment) }}
                                    {% endif %}
                                </div>

                                <!-- Course -->
                                <div class="form-group mb-2">
                                    {% if form.course.flags.required %}
                                        {{ form.course.label(class="form-control-label", text=form.course.label.text + '*') }}
                                    {% else %}
                                        {{ form.course.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.course.errors %}
                                        {{ form.course(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.course.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.course(class="form-control form-control-sm", value=applicant.course) }}
                                    {% endif %}
                                </div>

                                <!-- Graduation Year -->
                                <div class="form-group mb-2">
                                    {% if form.graduation_year.flags.required %}
                                        {{ form.graduation_year.label(class="form-control-label", text=form.graduation_year.label.text + '*') }}
                                    {% else %}
                                        {{ form.graduation_year.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.graduation_year.errors %}
                                        {{ form.graduation_year(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.graduation_year.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.graduation_year(class="form-control form-control-sm", value=applicant.graduation_year) }}
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>
                        <!-- End of Scholastic Information -->

                    </div>

                    <div class="col-md-6">

                        <!-- Job Preference -->
                        <div class="card card-body mb-2">
                            <fieldset class="form-group">
                                <legend>
                                    Job Preference
                                </legend>

                                <!-- Applied Position -->
                                <div class="form-group mb-2">
                                    {% if form.applied_position.flags.required %}
                                        {{ form.applied_position.label(class="form-control-label", text=form.applied_position.label.text + '*') }}
                                    {% else %}
                                        {{ form.applied_position.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.applied_position.errors %}
                                        {{ form.applied_position(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.applied_position.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.applied_position(class="form-control form-control-sm", value=applicant.applied_position) }}
                                    {% endif %}
                                </div>

                                <!-- Expected Salary -->
                                <div class="form-group mb-2">
                                    {% if form.expected_salary.flags.required %}
                                        {{ form.expected_salary.label(class="form-control-label", text=form.expected_salary.label.text + '*') }}
                                    {% else %}
                                        {{ form.expected_salary.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.expected_salary.errors %}
                                        {{ form.expected_salary(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.expected_salary.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.expected_salary(class="form-control form-control-sm", value=applicant.expected_salary) }}
                                    {% endif %}
                                </div>

                                <!-- Shift -->
                                <div class="form-group mb-2">
                                    {% if form.preferred_shift.flags.required %}
                                        {{ form.preferred_shift.label(class="form-control-label", text=form.preferred_shift.label.text + '*') }}
                                    {% else %}
                                        {{ form.preferred_shift.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.preferred_shift.errors %}
                                        {{ form.preferred_shift(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.preferred_shift.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.preferred_shift(class="form-control form-control-sm", value=applicant.preferred_shift) }}
                                    {% endif %}
                                </div>

                                <!-- Location -->
                                <div class="form-group mb-2">
                                    {% if form.preferred_location.flags.required %}
                                        {{ form.preferred_location.label(class="form-control-label", text=form.preferred_location.label.text + '*') }}
                                    {% else %}
                                        {{ form.preferred_location.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.preferred_location.errors %}
                                        {{ form.preferred_location(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.preferred_location.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.preferred_location(class="form-control form-control-sm", value=applicant.preferred_location) }}
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>
                        <!-- End of Job Preference -->

                        <!-- Call Information -->
                        <div class="card card-body mb-2">
                            <fieldset class="form-group">
                                <legend>
                                    Call Information
                                </legend>

                                <!-- Disposition -->
                                <div class="form-group mb-2">
                                    {% if form.status.flags.required %}
                                        {{ form.status.label(class="form-control-label", text=form.status.label.text + '*') }}
                                    {% else %}
                                        {{ form.status.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.status.errors %}
                                        {{ form.status(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.status.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.status(class="form-control form-control-sm", value=applicant.status) }}
                                    {% endif %}
                                </div>

                                <!-- Remarks -->
                                <div class="form-group mb-2">
                                    {% if form.remarks.flags.required %}
                                        {{ form.remarks.label(class="form-control-label", text=form.remarks.label.text + '*') }}
                                    {% else %}
                                        {{ form.remarks.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.remarks.errors %}
                                        {{ form.remarks(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.remarks.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.remarks(class="form-control form-control-sm", value=applicant.remarks) }}
                                    {% endif %}
                                </div>

                                {% if current_user.role == 'admin' %}
                                    <!-- HR -->
                                    <div class="form-group mb-2">
                                        {% if form.hr_id.flags.required %}
                                            {{ form.hr_id.label(class="form-control-label", text=form.hr_id.label.text + '*') }}
                                        {% else %}
                                            {{ form.hr_id.label(class="form-control-label") }}
                                        {% endif %}

                                        {% if form.hr_id.errors %}
                                            {{ form.hr_id(class="form-control form-control-sm is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in form.hr_id.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.hr_id(class="form-control form-control-sm", value=applicant.hr_id|string)}}
                                        {% endif %}
                                    </div>
                                {% endif %}

                            </fieldset>
                        </div>
                        <!-- End of Call Information -->

                        <!-- Additional Information -->
                        <div class="card card-body mb-2">
                            <fieldset class="form-group">
                                <legend>
                                    Additional Information
                                </legend>

                                <!-- Source -->
                                <div class="form-group mb-2">
                                    {% if form.source.flags.required %}
                                        {{ form.source.label(class="form-control-label", text=form.source.label.text + '*') }}
                                    {% else %}
                                        {{ form.source.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.source.errors %}
                                        {{ form.source(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.source.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.source(class="form-control form-control-sm", value=applicant.source) }}
                                    {% endif %}
                                </div>

                                <!-- Interview Date -->
                                <div class="form-group mb-2">
                                    {% if form.interview_date.flags.required %}
                                        {{ form.interview_date.label(class="form-control-label", text=form.interview_date.label.text + '*') }}
                                    {% else %}
                                        {{ form.interview_date.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.interview_date.errors %}
                                        {{ form.interview_date(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.interview_date.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.interview_date(class="form-control form-control-sm", value=applicant.interview_datetime|form_date) }}
                                    {% endif %}
                                </div>

                                <!-- Interview Time -->
                                <div class="form-group mb-2">
                                    {% if form.interview_time.flags.required %}
                                        {{ form.interview_time.label(class="form-control-label", text=form.interview_time.label.text + '*') }}
                                    {% else %}
                                        {{ form.interview_time.label(class="form-control-label") }}
                                    {% endif %}

                                    {% if form.interview_time.errors %}
                                        {{ form.interview_time(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.interview_time.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.interview_time(class="form-control form-control-sm", value=applicant.interview_datetime|form_time) }}
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>
                        <!-- End of Additional Information -->

                    </div>
                </div>

                <div class="btn-group btn-group-lg" role="group" style="position: fixed; bottom: .5in; right: .5in;">
                    <button data-placement="top" data-toggle="tooltip" title="Submit"
                        class="btn btn-primary tooltips">
                        <i class="fas fa-fw fa-edit"></i>
                    </button>
                    <a href="{{ url_for('hr.home_page') }}" data-placement="top" data-toggle="tooltip" title="Cancel"
                        class="btn btn-danger tooltips">
                        <i class="fas fa-times-circle"></i>
                    </a>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
