{% extends 'layouts/dashboard.html' %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}
    <!-- Nav Item - Account Records -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.records_page') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>HR Records</span>
        </a>
    </li>

    <!-- Nav Item - Callout Form -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.add_applicant_page') }}">
            <i class="fas fa-fw fa-phone-alt"></i>
            <span>Callout Form</span>
        </a>
    </li>

    <!-- Nav Item - Candidate List -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.candidates_page') }}">
            <i class="fas fa-fw fa-th-list"></i>
            <span>Candidate List</span>
        </a>
    </li>
{% endblock %}

{% block page_content %}

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">HR Staff</h1>

    <div class="table-responsive">
        <table class="table display table-hover" id="hr-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for interviewer in interviewers %}
                    <tr onclick="window.location.href = '{{ url_for('admin.hr_page', username=interviewer.username)|string }}';">
                        <td>{{ interviewer.first_name }} {{ interviewer.last_name }}</td>
                        <td>{{ interviewer.username }}</td>
                        {% if interviewer.active %}
                            <td>Active</td>
                        {% else %}
                            <td>Inactive</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // HR Table
            $('#hr-table').DataTable({
              "pagingType": "full_numbers",
              "order": [
                    // Name
                    [0, "asc"],
                    // Username
                    [1, "asc"],
                    // Status
                    [2, "desc"]
                ]
            });
        });
    </script>
{% endblock %}
