{% extends 'layouts/dashboard.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Settings{% endblock %}

{% block page_content %}

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Account Settings</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-body mb-2">
                <form method="POST" action="{{ url_for('main.upload_profile_pic') }}" enctype="multipart/form-data">
                    <div class="form-group">
                        <img class="img-profile rounded-circle center" src="../{{ current_user.profile_pic }}"
                        id="profile-pic"
                        style="height: 10rem; width: 10rem;">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-md btn-info center"
                        name="upload-profile-btn" id="upload-profile-btn">
                            Upload profile picture
                        </button>
                        <input type="file" name="profile-input"
                        id="profile-input" accept="image/*"
                        style="display: none;">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {% call f.form_tag('main.settings') %}

                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-body">
                            <fieldset class="form-group">
                                <legend>
                                    Personal Information
                                </legend>

                                <!-- First Name -->
                                {{ f.form_group(form.first_name, class_="mb-2", value=current_user.first_name) }}

                                <!-- Last Name -->
                                {{ f.form_group(form.last_name, class_="mb-2", value=current_user.last_name) }}

                                <!-- Username -->
                                {{ f.form_group(form.username, class_="mb-2", value=current_user.username) }}

                                <!-- Mobile Number -->
                                {{ f.form_group(form.mobile, class_="mb-2", value=current_user.mobile) }}
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card card-body">
                            <fieldset class="form-group">
                                <legend>
                                    Change Password
                                </legend>

                                <!-- Current Password -->
                                {{ f.form_group(form.old_password, class_="mb-2") }}

                                <!-- Confirm Current Password -->
                                {{ f.form_group(form.confirm_old_pass, class_="mb-2") }}

                                <!-- New Password -->
                                {{ f.form_group(form.password, class_="mb-2") }}

                                <!-- Confirm Current Password -->
                                {{ f.form_group(form.confirm_pass, class_="mb-2") }}

                            </fieldset>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex flex-row-reverse mb-4">
                            <fieldset class="form-group">
                                <!-- Actions -->
                                <div class="form-group mb-2">
                                    <button type="submit"
                                    class="btn btn-primary">
                                        Submit
                                    </button>
                                    <a href="{{ url_for('main.home_page') }}"
                                    class="btn btn-secondary">
                                        Cancel
                                    </a>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

            {% endcall %}

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#upload-profile-btn').on('click', function() {
                $('#profile-input').trigger('click');
            });

            $('#profile-input').change(function() {
                $(this).closest('form').submit();
            });
        });
    </script>
{% endblock %}
