{% extends 'layouts/dashboard.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Register{% endblock %}

{% block page_content %}

    {% if 'register' in request.endpoint %}
        {% set page_heading = 'Register User' %}
        {% set endpoint = 'it.register' %}
        {% set kwargs = {} %}
        {% set button = 'Submit' %}
    {% elif 'edit' in request.endpoint %}
        {% set page_heading = 'Edit User' %}
        {% set endpoint = 'it.edit' %}
        {% set kwargs = { 'username': account.username } %}
        {% set button = 'Update' %}
        {% set username = account.username %}
        {% set first_name = account.first_name %}
        {% set last_name = account.last_name %}
        {% set username = account.username %}
        {% set email = account.email %}
        {% set mobile = account.mobile %}
    {% endif %}

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">{{ page_heading }}</h1>

    <div class="row">
        <div class="col-md-6 center">
            <div class="card card-body">

                {% call f.form_tag(endpoint, **kwargs) %}
                    <fieldset class="form-group">

                        <!-- First Name -->
                        {{ f.form_group(form.first_name, class_="mb-2", value=first_name) }}

                        <!-- Last Name -->
                        {{ f.form_group(form.last_name, class_="mb-2", value=last_name) }}

                        <!-- Username -->
                        {{ f.form_group(form.username, class_="mb-2", value=username) }}

                        <!-- Email -->
                        {{ f.form_group(form.email, class_="mb-2", value=email) }}

                        <!-- Mobile Number -->
                        {{ f.form_group(form.mobile, class_="mb-2", value=mobile) }}

                        {% if endpoint == 'it.register' %}

                            <!-- Password -->
                            {{ f.form_group(form.password, class_="mb-2") }}

                            <!-- Confirm Password -->
                            {{ f.form_group(form.confirm_pass, class_="mb-2") }}

                        {% endif %}

                        <!-- Account Type -->
                        {{ f.form_group(form.role, class_="mb-2") }}

                        <hr>

                        <!-- Actions -->
                        <div class="form-group mb-2">
                            <button type="submit"
                            class="btn btn-sm btn-primary">
                                {{ button }}
                            </button>

                            <a href="{{ url_for('it.accounts_page') }}"
                            class="btn btn-sm btn-secondary">
                                Cancel
                            </a>
                        </div>

                        {% if endpoint == 'it.edit' %}
                            <!-- Reset Password -->
                            <div class="form-group mb-2">
                                <button type="button"
                                id="reset-pass-btn"
                                class="btn btn-sm btn-danger"
                                data-toggle="modal"
                                data-target="#resetPassModal">
                                    Reset Password
                                </button>
                            </div>
                        {% endif %}

                    </fieldset>
                {% endcall %}
            </div>
        </div>
    </div>

    {% if endpoint == 'it.edit' %}
        <!-- Reset Password Modal -->
        <div class="modal fade" id="resetPassModal" tabindex="-1" role="dialog" aria-labelledby="resetPassModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to reset password?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h5>Generated Password</h5>
                <div class="card card-body">
                    <b>{{ generated_password }}</b>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form method="POST" action="{{ url_for('it.reset_password', username=account.username) }}">
                    <input type="hidden" name="generated_password" value="{{ generated_password }}">
                    <button type="submit" class="btn btn-danger">Reset</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endif %}

{% endblock %}
