<!DOCTYPE html>
<html>
<head>
	<title>HR System</title>
</head>
<body>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-12'>
				<form action='{{url_for("main.login")}}' method='post'>
					<div class='form-group'>
						<input class='form-control form-control-md' type='text' name='username' id='username'>
						<input class='form-control form-control-md'type='passowrd' name='password' id='password'>
						<input type="submit" name="Login">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
